/* || General Setup */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;900&display=swap");

body {
  background-color: #1c1c1c;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

/* alternative box model */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* || Main Grid Layout */

.head {
  grid-area: head;
  display: flex;
  margin-left: 2em;
}

.sbar {
  grid-area: sbar;
  background-color: #58b791;
}

.gifs {
  grid-area: gifs;
}

#index {
  display: grid;
  gap: 1em;
  grid-template-areas: "head" "sbar" "gifs";
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* || Typography */

html {
  color: #f7f7f7;
  font-family: "Raleway", sans-serif;
}

#title {
  font-weight: 900;
  font-size: 2rem;
  color: #59cfc1;
}

a {
  color: inherit;
  text-decoration: none;
}

/* header and quicksearch */

#qs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 3em;
}

.quicksearch {
  font-weight: 500;
  font-size: 1.7rem;
  transition: 0.3s;
  border-bottom: 0.25em solid #9d6dcf;
  padding: 0.5em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}

.quicksearch:hover {
  background-color: #876ee6;
  color: white;
}

/* searchbar and button styling */

#searchbar {
  float: right;
  padding: 1.5em 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  width: 100%;
  padding: 0.7em;
  height: 4em;
  border: none;
  border-radius: 3px 0 0 3px;
  background-color: #333333;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #aaaa;
  padding-left: 1em;
  opacity: 1;
}

/* animated gradient */
@keyframes animate {
  o% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

#sbutton {
  width: 4em;
  height: 4.5em;
  border: none;
  text-align: center;
  color: inherit;
  border-radius: 0 5px 5px 0;
  font-size: 1.25rem;
  /* animated gradient */
  border-radius: 1rem;
  background-image: linear-gradient(45deg, #892ae8, #e85e1e, #892ae8, #e85e1e);
  background-size: 300% 100%;
  animation: animate 4s infinite linear;
}

#submitxform {
  font-size: 3rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* styling for gifs */

.container {
  margin: 2em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  flex-basis: 33.333333%;
}

.col > div {
  padding: 10px;
  text-align: center;
}

/* center GIPHY logo */

#logo {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
