//style font and background
body {
    font-family: 'Raleway', sans-serif;
    color: mintcream;
    background-color: #3075FF;
}






//navbar
.navbar {
    overflow:hidden;
    //background-color: #f7882f;
    background-color: #083EAB;

}
.navbar >* {
    float:left;
    text-align:center;
}
h2 {
    padding:.3em
}
#title {
    padding:0em .75em;
}
//.quicksearch {
  //  padding:1em 3.5em;
//}
//.quicksearch:hover {
 //   background-color: #F7892F;
//}



.quicksearch {
    background-color: #3075FF;
    color:white;
    text-decoration:none;
    padding: .53em .53em;
    border-radius: 25% 10%;
    margin:1em 3em;
    transition: 0.3s;
  }
  
  .quicksearch:hover {
    background-color: #F7892F;;
    color: white;
  }



//search bar and button
.wrap{
    float:right;
    width: 30;
    top: 50%;
    left: 50%;
  }
#searchbar {
    float:right;
    padding: 1.5em 1em;
    width: 100%;
    position: relative;
    display: flex;
  }
  
#search {
    width: 100%;
    padding: 1em;
    height: 1.358em;
    border:none;
    border-radius: 5px 0 0 5px;
    background-color:mintcream;
  }

#submit {
    width: 4em;
    height: 1.85em;
    border: none;
    text-align: center;
    background-color: #F7892F; 
    color:mintcream;
    border-radius: 0 5px 5px 0;
    font-size: 1.25rem;
  }

